#pip install -r requirements-localgpu-win64.txt
diffusers>=0.3.0
Flask>=1.1.2
numpy>=1.21.6
Pillow>=9.2.0
protobuf>=4.21.6
PyQt5>=5.15.7
requests>=2.28.0
opencv_python>=4.2.0.32
transformers>=4.22.1
--extra-index-url https://download.pytorch.org/whl/cu113 --trusted-host https://download.pytorch.org
torch>=1.12.1
